@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  /* 62.5%​​ of 16px = 10px */
  /* 1rem = 10px */
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: rgb(216, 216, 216); */
}
.nav-list {
  display: block;
}
